@charset "UTF-8";


* {
            
    margin: 0px;
    padding: 0px;


}


body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient( to top, #730355, #16048C,  #010440, #010326 );

}

header {
    
    background-color: #0A2C59;
    color: white;
}

header > h1 {
    padding: 25px;
    text-align: center;
}
menu {
    display: block;
}

menu > ul {
    list-style-type: none;
    background-color: #14488C;
}

menu > ul > .links > a {
    display: block;
    text-decoration: none;
    text-align: center;
    margin-left: -5px;
    padding: 7px;
    padding-left: 20px;
    color: white;
    font-weight: bolder;
    background-color: #14488C;
    border: 0px solid black;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
}

.links {
    display: inline-block;
    width: 150px;
    text-align: center;
    
}

menu > ul > .links > a:hover {
    background-color: #1B70A6;
    color: #FFEA4A;
    transition-duration: 0.5s;
}

main {
    width: 65vw;
    background-color: #fff;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 30px;
    text-align: justify;
    line-height: 1.5em;
    border-radius: 8px;
}

.nebl {
    margin-left: 30px;
}

footer {
    font-family: 'Courier New', Courier, monospace;
    background-color: #0D0D0D;
    color: white;
    text-align: center;
    padding: 10px;
}